@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

// Mixin do responsywnych breakpoinów
@mixin respond($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

